@tailwind base;
@tailwind components;
@tailwind utilities;

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
}
body {
  overflow-x: 1;
}

@layer components {
  .control-panel {
    @apply absolute w-[250px] right-[20px] top-[20px]  p-[20px] rounded-lg bg-[rgba(0,0,0,0.6)] text-white shadow-[5px_5px_10px_rgba(0,0,0,0.5)];
  }
  .start-panel {
    @apply absolute right-[20px] top-[500px] p-[20px] w-[250px] rounded-lg bg-[rgba(0,0,0,0.6)] text-white shadow-[5px_5px_10px_rgba(0,0,0,0.5)];
  }
  .instructions {
    @apply absolute left-[20px] top-[20px] px-[20px] max-w-full  rounded-lg bg-[rgba(0,0,0,0.6)] text-white shadow-[5px_5px_10px_rgba(0,0,0,0.5)] z-[999];
  }
  .instructions-text {
    @apply text-xs font-medium;
  }
  .button {
    @apply opacity-90 hover:opacity-80 active:opacity-100 border p-2 rounded-md;
  }
  .disabled-button {
    @apply opacity-20  border p-2 rounded-md pointer-events-none;
  }
  .start-panel-button {
    @apply text-xs p-1 bg-gray-400 text-black border-black font-medium;
  }
  .array-value-font {
    font-size: min(1vw, 1vh);
  }
  .height-transition {
    transition: height 0.25s ease-in-out;
  }
}
